@import "tailwindcss";

:root {
    --green: #4cb050;
    --light-green: #6dfc72;
    --red: #d64a33;
    --dark-red: #700101;
    --dark-green: #1e2b23;
    --white: #ffffff;
    --grey: #a6a5a5;
    --light-grey: #dedede;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
}

.card {
    z-index: -2;
    position: relative;
    /* Your existing styles */
    overflow: hidden; /* Important: prevents overflow */
}

.card::before {
    content: "";
    position: absolute;
    top: -100%; /* Larger size to avoid gaps when rotating */
    left: -100%;
    width: 300%;
    height: 300%;
    background-image: conic-gradient(
            from 0deg,
            var(--dark-green),
            var(--green),
            var(--light-green),
            var(--dark-green),
            var(--green),
            var(--light-green),
            var(--dark-green),
            var(--green),
            var(--light-green),
            var(--dark-green)
    );
    filter: blur();
    opacity: 0.5;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

