@import "tailwindcss";

:root {
    --green: #4cb050;
    --light-green: #6dfc72;
    --red: #d64a33;
    --dark-red: #700101;
    --dark-green: #273a2e;
    --white: #ffffff;
    --grey: #a6a5a5;
    --light-grey: #dedede;
}